* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: consolas;
}

p {
  position: auto;
  font-size: auto;
}


#UserText {
  font-size: auto;
  flex: justify-content;
  justify-self: auto;
  align-self: center;
  align-items: center;
  flex-wrap: auto;
  align-content: center;
  position: auto;
  border-right: 10px;
}

#Bot {
  font-size: auto;
  flex: justify-content;
  justify-self: auto;
  align-self: center;
  align-items: center;
  flex-wrap: auto;
  align-content: center;
  position: 0;
  box-orient: 10px;
}

#Bot:hover {
  color: white;
  font-size: 24px;
  cursor: pointer;
  resize: 50%;
}


#UserText:hover {
  font-style: bold;
  color: white;
  font-size: 24px;
  cursor: pointer;
  resize: 50%;
}

.text {
  max-width: 100%;
  min-width: 0%;
}

.text1 {
  max-width: 100%;
  min-width: 0%;
}

.box {
  justify-content: auto;
  position: inherit;
  y-content: inherit;
  word-spacing: initial;
  letter-spacing: 1px;
  font-size: auto;
  left: 20px;
  width: 300px;
  height: 150px;
  overflow-x: auto;
  overflow-wrap: break-word;
  resize: both;
}

.box2 {
  justify-content: auto;
  position: inherit;
  y-content: inherit;
  word-spacing: initial;
  letter-spacing: 1px;
  font-size: auto;
  right: 100px;
  width: 300px;
  height: 150px;
  overflow-x: auto;
  overflow-wrap: break-word;
  resize: both;
}

/*/ the Users field /*/
.user-chat {
  mix-blend-mode: difference;
  font-size: 18px;
  cursor: pointer;
  resize: 50%;
  color: white;
  width: 200px;
  border-color: black;
  mix-blend-mode: difference;
  left: 60px;
  top: 150px;
  align-self: inherit;
  position: fixed;
}

/*/ the Bots field /*/
.bot-chat {
  font-size: 18px;
  cursor: pointer;
  resize: 50%;
  color: white;
  width: 200px;
  border-color: white;
  mix-blend-mode: difference;
  right: 60px;
  top: 150px;
  align-self: inherit;
  position: fixed;
}

/*/Positions the Converstion in the middle of the screen/*/


.userInput {
  padding: auto;
  width: 250px;
  height: 5%;
  background: transparent;
  border-radius: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s linear;
  position: absolute;
  top: 50%;
  left: 290px;
  bottom: 400;
  margin-top: 185px;
  margin-left: 300px;
  color: #555;
}

.userInput::after {
  content: '';
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#9d9d9d, #9d9d9d, #e3e3e3);
  z-index: 0;
  filter: blur(1px);
}

.userInput::after {
  content: '';
  position: absolute;
  bottom: 400;
  right: -1px;
  width: 5px;
  height: 75%;
  border-radius: 50%;
  background: transparent;
  filter: blur(1);
}

.userInput input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  border-radius: 10%;
  font-size: 1.1em;
  color: #555;
  background: linear-gradient(#dbdae1, #a3aaba);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1),
    30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff;
}

.userInput input::placeholder,
.userInput input {
  color: transparent;
}

.userInput:hover input::placeholder,
.userInput:hover input {
  color: #555;
}

.BotsHead {
  width: 300px;
  height: 300px;
  background: #00000080;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 550px;
  transition: background 2s ease-out 100ms;
  transition: border-radius 2s ease-out 100ms;

}

.BotsHead:hover {
  mix-blend-mode: difference;

  background-color: #fff;

  border-radius: 0;

}


.userInput [type=text] {
  width: calc(100% - 20px);
  min-width: 100%;
  max-width: 100%;
  resize: vertical;
}

.user-input {
  border: 2px solid;
  padding: 20px;
  width: 300px;
  resize: both;
  overflow: auto;


}
